
<div class="container sign-in-up">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
    <h1>Sign Up</h1>
    <hr>
    
<%= form_for @user do |f| %>
 

   <div class="form-group">
     <p><%= f.label :name  %>
 	<div class="right-inner-addon">
 		<i class="fa fa-user"></i>
  <%= f.text_field :name, size: 40, autofocus: true, required: true,:class=>"form-control input-lg" %></p>
  </div>
  </div>
    
 		 

	<div class="form-group">
	  <p><%= f.label :email  %>
  <div class="right-inner-addon">
  <i class="fa fa-envelope"></i>
  <%= f.text_field :email, size: 40, required: true,:class=>"form-control input-lg" %></p>
  </div>
  </div>
    

  <div class="form-group">
    <p><%= f.label :password  %>
  <div class="right-inner-addon">
 		<i class="fa fa-key"></i>
  <%= f.password_field :password, size: 40, required: true,:class=>"form-control input-lg" %></p>
  </div>
  </div>
    

  <div class="form-group">
    <p><%= f.label :password_confirmation  %>
  <div class="right-inner-addon">
 		<i class="fa fa-key"></i>
  <%= f.password_field :password_confirmation, size: 40, required: true,:class=>"form-control input-lg" %></p>
  </div>
  </div>
  <div class=" text-center">
  <p><%= f.submit "Sign Me Up",:class => "btn btn-primary" %></p>
  </div>
</div>
</div>
</div>
<% end %>
