
<h1 class='page-header'><%= @song.name%></h1>

<%artist = Artist.find_by(id:@song.artist_id)%>
<%album = Album.find_by(id:@song.album_id)%>
<p><strong><span class="label label-info">Artist:</strong></span>
    <%= link_to artist.name, artist_path(@song.artist_id) %>
  </p>
  <p><strong><span class="label label-info">Album:</strong></span>
    <%= link_to album.title, album_path(@song.album_id) %>
  </p>
  <p><strong><span class="label label-info"> Runtime:</span></strong>  <%= @song.runtime/60000%>: <%= (@song.runtime%60000)/1000%> min</p>
  <p><strong><span class="label label-info">Popularity:</span></strong> <%= @song.popularity%></p>
  <hr>
<div class = "text-center">
<button type="button" class="btn btn-lg btn-success">Play</button>
</div>