<h1>Add a New Album</h1>


<%= form_tag '/albums/new', method: "get", html: { class: "form" } do %>
 <div class="form-group col-xs-4">
   <%= text_field_tag(:album_name, "", placeholder: "Enter album name", class: "form-control") %>
 </div>
 <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<%if @album!=nil%>
<h2 class="page-header">Albums Matching <%= params[:album_name] %></h2>
<ul>
 <% @album.each do |album| %>
   <li><%= album.name %> | <%= link_to "Show", album_path(album.id) %></li>
 <% end %>
</ul>
<%end%>