<h1 class='page-header'>Add a New Album</h1>


<%= form_tag '/rspotifys', method: "get", html: { class: "form" } do %>
 <div class="form-group col-md-4">
   <%= text_field_tag(:album_name, "", placeholder: "Enter album name", class: "form-control") %>
  
 </div>

 <%= submit_tag "Search on spotify", class: "btn btn-primary" %>
<% end %>

<%if @album!=nil%>
<h3 class="page-header"></h3>

<ul>
 <% @album.each do |album| %>
 <div class='spotify-box '>
<%= link_to image_tag(album.images[1]['url']), rspotify_path(album.id) %>
<h4><%= link_to album.name, rspotify_path(album.id) %></h4>
</div>
 <% end %>
</ul>

<%end%>
