<script>
  var player = document.createElement('AUDIO');
  var isPlaying = false;
</script>

<div class="container-fluid">
  <div class="row">
   <div class="col-lg-12">
<h1 class="page-header"><%= @album.name %></h1>
</div>
</div>
<% if session["user_id"].present? and User.find_by(id: session["user_id"])!=nil%>
<div class = "row">
<div class="col-sm-8 col-md-8 col-lg-8">
  <p><strong><span class="label label-info">Artist:</span></strong>
 <%=@album.artists[0].name%>
  </p>

  <p><strong><span class="label label-info">Released:</span> </strong> <%= @album.release_date%></p>
  <p><strong><span class="label label-info">Popularity:</span> </strong> <%= @album.popularity%></p>
  <p><strong><span class="label label-info">Type:</span></strong> <%= @album.album_type%></p>

    
    <p><strong><span class="label label-info">Tracks:</span> </strong><small>(click to play)</small></p>
 <ul>
 <%total_tracks=0%>
   <% @album.tracks.each do |track| %>
     <li class="track-list">
        <a hr="#" class="audioplay au-<%= track.id %>" data-audiofile="<%=track.preview_url%>"> 
      <%= track.name %>
       <%total_tracks=total_tracks+1%>
      </a>
     </li>
   <% end %>
 </ul>
 </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
  <p><%= image_tag @album.images[1]['url']%></p>
</div>
 <hr>
</div>

<div class = "row">
 <div class="col-lg-12">
 <form action="/albums" method="post">
  <input name="title" type="hidden" value= "<%=@album.name%>" />
  <input name="image_url" type="hidden" value= "<%=@album.images[1]['url']%>" />
  <input name="year" type="hidden" value= "<%= @album.release_date%>" />
  <input name="artist" type="hidden" value= "<%= @album.artists[0].name%>" /> 
  <input name="spotifyid" type="hidden" value= "<%= @album.id%>" /> 
  <input name="artist_sid" type="hidden" value= "<%= @album.artists[0].id%>" />
  <input name="popularity" type="hidden" value= "<%= @album.popularity%>" />
  <input name="total_tracks" type="hidden" value= "<%= total_tracks%>" />
  <input name="album_type" type="hidden" value= "<%= @album.album_type%>" />
  <input name="Add This Album" type="submit" value="Add This Album" class="btn btn-success" />
</form>
</div>
</div>

</div>
<%else%>
<div class = "row">
 
<div class="col-sm-8 col-md-8 col-lg-8">
  <p><strong>Artist: </strong>
 <%=@album.artists[0].name%>
  </p>

 <p><strong><span class="label label-info">Released:</span></strong> <%= @album.release_date%></p>
  <p><strong><span class="label label-info">Popularity:</span> </strong> <%= @album.popularity%></p>
  <p><strong><span class="label label-info">Type:</span> </strong> <%= @album.album_type%></p>
 <p><strong><span class="label label-info">Tracks:</span> </strong><small>(login to play)</small></p>
 <ul>
   <% @album.tracks.each do |track| %>
     <li class="track-list">
      <%= track.name %>
     </li>
   <% end %>
 </ul>
 </div>
 <div class="col-sm-3 col-md-3 col-lg-3">
  <p><%= image_tag @album.images[1]['url']%></p>
</div>
 </div>
 <div class = "row">
 <div class="col-lg-12">
    <%=button_to "Log In to Add this album", login_url, :method => :get, :class=>"btn btn-primary"%>
     </div>
     </div>
<%end%>





<script>
  $(".audioplay").on("click", function(){
    
     var source = $(this).data("audiofile");
     if(player.src == source && isPlaying)
     {
      player.pause();
      isPlaying = false;
     }
     else
     {
      player.src = source
      player.play();
      isPlaying = true;
     }
     
  });
</script>